    <h2 id="personal-interests">Personal interests</h2>
    <p class="bigger">
      <em>Tennis:</em>&nbsp;I started playing it at the age of 7, regularly and with passion. I string my rackets with strings and tensions that I choose appropriately. I also happened to customize some frames that I use.
    </p>
    <p class="bigger">
      <em>Table tennis:</em>&nbsp;I have been training twice a week since October 2021 in a local club of national importance, for which I intend to participate in competitive activities soon.
      </p>
    <p class="bigger">
      <em>Running:</em>&nbsp;Almost daily since September 2020, with various general benefits, indicated by an increase in my VO<sub>2</sub>Max levels which I intend to continue improving, alternating with swimming whenever possible.
      </p>
    <p class="bigger">
      <em>Windsurfing:</em>&nbsp;Started during the summer of 2021, so far only practicing with 5sqm sails, I consider myself a beginner.
    </p>
    <p class="bigger">
      <em>Sailing:</em>&nbsp;My interest for the wind led me to try and sign up for a sailing course in October 2021. I aim to obtain a nautical license up to 12 miles by spring 2022.
    </p>
    <p class="bigger">
      <em>Meditation:</em>&nbsp;In my opinion it can facilitate a better self-awareness, which is why I practice it daily through the celebrated <em>HeadSpace</em> application, since May 2021 with considerable benefits.
    </p>
