    <h2 id="personal-interests">Personal interests</h2>
    <p class="bigger">
      <em>Tennis:</em>&nbsp;I started playing it at the age of 7, regularly and with passion. I string my rackets with strings and tensions that I choose appropriately.
    </p>
    <p class="bigger">
      <em>Table tennis:</em>&nbsp;I have been training twice a week since October 2021 in a local club.
      </p>
    <p class="bigger">
      <em>Running:</em>&nbsp;Almost daily since September 2020, with various general benefits and alternating with swimming whenever possible.
      </p>
<!--     <p class="bigger">
      <em>Windsurfing:</em>&nbsp;Started during the summer of 2021, I consider myself a beginner.
    </p> -->
    <p class="bigger">
      <em>Sailing:</em>&nbsp;My interest for the wind led me to try and sign up for a sailing course in October 2021 with the aim to obtain a nautical license.
    </p>
    <p class="bigger">
      <em>Meditation:</em>&nbsp;In my opinion it can facilitate a better self-awareness, which is why I practice it almost daily.
    </p>
